body{
    background-color: #f2f2f2;
}
.container{
    display: inline-grid;
    grid-template-rows: auto auto;
    row-gap: 1em;
}

.parent-board{
    display: flex;
    width: 95vw;
    justify-content: center;
    margin-top: 3em;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    width: 360px;
}

.grid-container div{
    height: 40px;
    width: 40px;
}

.grid-container div input{
    height: 80%;
    width: 75%;
    text-align: center;
    font-size: 1em;
}

.setting-wrapper{
    display: flex;
    justify-content: center;
}

.settings{
    display: flex;
    width: 360px;
    justify-content: space-between;
    align-items: center;
}

.radio label{
    font-family: "Arial";
    font-size: 0.9em;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
  }
